[submodule "themes/smol"]
path = themes/smol
url = https://github.com/colorchestra/smol
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/typo"]
	path = themes/typo
	url = https://github.com/tomfran/typo.git
